<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOEVXN1yciQgmTBa3Xfq1rfbFyKbBeX6c</string>
	<key>GCM_SENDER_ID</key>
	<string>266993612037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.myfirstapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ashrbvfliar12308745</string>
	<key>STORAGE_BUCKET</key>
	<string>ashrbvfliar12308745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266993612037:ios:cc5074afc9595976a0336c</string>
</dict>
</plist>